.coin.l4-coin {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background-color: #f17d00;
  background-image: url(assets/bball/logo.png);
  background-size: cover;
  background-position: center center;
  @include xb(transform, translate3d(-2447px, 929px, -2928px));
	@include xb(animation, slow_rotating_coin4 10s infinite linear);
}
.coin.l4-coin:before, .coin.l4-coin:after {
  background-color: #f17d00;
}
@include keyframes(slow_rotating_coin4) {
  25% {
    	@include xb(transform, translate3d(-2447px, 929px, -2928px) rotateY(-30deg));
  }
  75% {
    	@include xb(transform, translate3d(-2447px, 929px, -2928px) rotateY(70deg));
  }
}

.main .l4-content {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 100px);
  width: 50%;
  max-width: 600px;
  .header {
    @include xb(transform, translateX(2000px));
    font-weight: 400;
    height: 52px;
    color: #3d424c;
    a {
      background-color: #3d424c;
      position: absolute;
      left: 230px;
      top: 12px;
    }
    span {
      top: 11px;
      left: 268px;
      width: 164px;
    }
  }
  .sub-header {
    @include xb(transform, translateX(2000px));
    color: #111;
  }
  .description-header {
    @include xb(transform, translateX(2000px));
    color: #111;
  }
  .description-body {
    @include xb(transform, translateX(2000px));
    color: #111;
  }
}

.main.l4 .l4-content {
  z-index: 10;
  .header {
    @include xb(transform, translateX(0px));
    @include xb(transition-delay, 1s);
  }
  .sub-header {
    @include xb(transform, translateX(0px));
    @include xb(transition-delay, 1.1s);
  }
  .description-header {
    @include xb(transform, translateX(0px));
    @include xb(transition-delay, 1.2s);
  }
  .description-body {
    @include xb(transform, translateX(0px));
    @include xb(transition-delay, 1.3s);
  }
}
