.right-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  padding: 20px 10px;
  overflow: hidden;
  navline {
    height: 336px;
    width: 3px;
    background: white;
    position: absolute;
    top: 59px;
    left: 29px;
    z-index: -1;
  }
  > div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 10px 0 30px;
    @include xb(transition, transform 1s cubic-bezier(.49,2.67,.44,.17));
    cursor: pointer;
    &:hover {
      @include xb(transform, scale(1.2));
    }
  }
  .l1 {
    background-image: url(assets/my_pic6.jpg);
    background-size: cover;
  }
  .l2 {
    background-color: #111;
    background-image: url(assets/napster/white-logo.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .l3 {
    background-image: url(assets/recipes/recipes_logo.jpg);
    background-size: cover;
    background-position: center center;
  }
  .l4 {
    background-image: url(assets/bball/logo.png);
    background-size: cover;
    background-position: center center;
  }
  .l5 {
    background-color: white;
    background-image: url(assets/activetime/clock.png);
    background-size: cover;
    background-position: center center;
  }
  .l6 {
    background-color: #333353;
    background-image: url(assets/ninja/ninja.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &.l1 .l1, &.l2 .l2, &.l3 .l3, &.l4 .l4, &.l5 .l5, &.l6 .l6 {
    @include xb(transform, scale(1.4));
  }
}
